body{
    background-image: url("PHOTOS/BackGround\ 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: rgb(60, 179, 113), blue;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
}.header {
    overflow: hidden;
    background-color: rgb(33, 117, 7);
    /*padding: 20px 10px;*/
  }
  